# kroneind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.kronein
host=127.0.0.1

#mainnet default
port=26761

#testnet default
#port=36761

#regtest default
#port=56761

#signet default
#port=46761

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=a3cfcff8
genesis=d79a7c8037d9e67d1aa7fc8ea321da88b8edf99b6a5fd7ab5fbfee2751885ad9
input=/home/example/.kronein/blocks

# testnet4
#netmagic=e99d8ba2
#genesis=c81c93beedf92bb04515d8981f16a3e28337d072f6f1b8b2177073cbb121bfdc
#input=/home/example/.kronein/testnet4/blocks

# regtest
#netmagic=e0f9abb0
#genesis=a55bf2cd9513e5203827b029e15153769d596b0ad29e6ebca232eaba07c95f73
#input=/home/example/.kronein/regtest/blocks

# signet
#netmagic=4c4a0ec6
#genesis=70839a886fd128e4d6ec2de17bd0786bbf10b1184aa8ba06fc43de9cf3f096ad
#input=/home/example/.kronein/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
